<%= form_with model: company, class: app_form_class("d-grid gap-3") do |f| %>
  <% if company.errors.any? %>
    <div class="alert alert-danger mb-0" role="alert">
      <div class="fw-semibold mb-2">Formda hata var:</div>
      <ul class="mb-0 ps-3">
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :name, class: "form-control", required: true, placeholder: "Firma Adi" %>
        <%= f.label :name, "Firma Adi" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :tax_number, class: "form-control", required: true, placeholder: "Vergi No" %>
        <%= f.label :tax_number, "Vergi No" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :tax_office, class: "form-control", placeholder: "Vergi Dairesi" %>
        <%= f.label :tax_office, "Vergi Dairesi" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :authorized_person, class: "form-control", placeholder: "Yetkili Kisi" %>
        <%= f.label :authorized_person, "Yetkili Kisi" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= f.telephone_field :phone, class: "form-control", placeholder: "Telefon" %>
        <%= f.label :phone, "Telefon" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= f.email_field :email, class: "form-control", autocomplete: "email", placeholder: "Mail Adresi" %>
        <%= f.label :email, "Mail Adresi" %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-floating">
        <%= f.text_area :address, class: "form-control", placeholder: "Adres", style: "height: 110px" %>
        <%= f.label :address, "Adres" %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-floating">
        <%= f.select :active,
              options_for_select([["Aktif", "true"], ["Pasif", "false"]], company.active == false ? "false" : "true"),
              {},
              class: "form-select" %>
        <%= f.label :active, "Durumu" %>
      </div>
    </div>
  </div>

  <div>
    <%= f.submit "CREATE COMPANY", class: "btn btn-success w-100", data: { turbo_confirm: "Musteri kaydi kaydedilsin mi?" } %>
  </div>
<% end %>
